<div class="user-welcome" *ngIf="isLoggedIn">
  <h2>Welcome, User!</h2>
  <p>Your CIN: {{ cin }}</p>

  <div *ngIf="terrains.length > 0; else noTerrains">
    <h3>Your Terrains:</h3>
    <ul class="terrain-list">
      <li *ngFor="let terrain of terrains" class="terrain-item">
        <div class="terrain-info">
          <span class="terrain-property">Surface: {{ terrain.surface }} m²</span>
          <span class="terrain-property">Categorie: {{ terrain.categorie.nomCategorie }}</span>
          <button class="voir-button" (click)="redirectToTaxeTnbComponent()">Voir Taxe</button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noTerrains>
    <p class="no-terrains-msg">No terrains found.</p>
  </ng-template>

</div>
